@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    
    --type-normal: #AAA67F;
    --type-fire: #F57D31;
    --type-water: #6493EB;
    --type-grass: #74CB48;
    --type-electric: #F9CF30;
    --type-ice: #9AD6DF;
    --type-fighting: #C12239;
    --type-poison: #A43E9E;
    --type-ground: #DEC16B;
    --type-flying: #A891EC;
    --type-psychic: #FB5584;
    --type-bug: #A7B723;
    --type-rock: #B69E31;
    --type-ghost: #70559B;
    --type-dark: #75574C;
    --type-dragon: #7038F8;
    --type-steel: #B7B9D0;
    --type-fairy: #E69EAC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f5f5f6;
    font-family: 'Rubik', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #454545;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 1rem;
  }

.searchbar input {
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px;
  color: white;
  background: none;
  outline: none;
  width: 140px;
  font-size: .8rem;
}

.reset-button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    color: white;
    background: #3A9494;
    outline: none;
    width: 100px;
    font-size: .8rem;
  }

.dropdowns select {
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    color: white;
    background: #454545;
    outline: none;
    width: 100px;
    font-size: .8rem;
  }

  select option:first-child {
    display: none;
  }

main {
    padding: 2rem;
    max-width: 1000px; /* revisar más tarde */
    margin: 0 auto;
        
}

.pokemon-todos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 1100px;
    padding: 1em 1em;
}

.pokemon {
    border-radius: 1rem;
    background-color: #a3a3a3;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.pokemon-imagen {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-imagen img {
    width: 100%;
    max-width: 7rem;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.pokemon-tipos{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}


/*Módulos*/
.modalTodos { 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
}


.modal-content{
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Posición fija en la pantalla */
    z-index: 1; /* Z-index para asegurarse de que esté en la parte superior de los demás elementos */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilitar desplazamiento si el contenido es demasiado largo */
    align-items: center;
    justify-content: center;
}


.pokemonModulos {
    position: relative;
    background-color: #a4a0a0;;
    width: 50%;
    border-radius: 1rem;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
    text-transform: uppercase;
}

.encabezadoModulo{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.containerAbout{
    display: flex;
    border-radius: 1rem;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: initial;
}

.lateralIzquierdo{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.pokemon-imagen-modulo{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-imagen-modulo img {
    width: 160px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    text-align: center;
}

.details{
    padding: 10px;
}

.HW{
    display: flex;
    justify-content:space-around;
    padding:15px;
}

.WR{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 1em;
}

.W-types,
.R-types{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}


